.input {
  font-size: 18px;
}

.header {
  color: green;
}

.li {
  font-size: 16px;
}

.item:hover {
  background-color: khaki;
}

.done {
  text-decoration-line: line-through;
}

.important {
  font-weight: bold;
}